@import './variables';
@import './layout';

* {
  box-sizing: border-box;
}

html,
body,
.main {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  display: table;
  width: 100%;
  background-color: $background-color;
}

.container {
  margin: 50px auto;
  padding: 20px 10px;
  border-radius: 2px;
}

.main__container {
  max-width: 1040px;
  margin: 15px auto 50px;
}

@media ( min-width: $breakpoint-desktop ) {
  .container {
    max-width: 1000px;
    padding: 30px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.6);
    border-radius: $border-radius;
  }
  .main__container {
    margin: 40px auto 50px;
  }
}
