$breakpoint-desktop: 1024px;

// Layout
$background-color: #f8f4ef;

// Header
$header-background-color: #f7f2d6;
$header-color: #464646;
$header-color-active: #ff6a00;

// Footer
$footer-background-color: #3b3b3b;
$footer-color: #fff;

// Fonts
$font-light: 300;
$font-regular: 400;
$font-bold: 600;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
